/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* GENERAL */
.wrapper {
  width: 100%;
  max-width: 1170px;
  min-height: 500px;
  margin: 10px auto;
  box-shadow: 0px 0px 8px 4px #ccc;
  padding: 15px 30px;
}
.wrapper ul {
  margin: 10px 20px;
}
.wrapper ul li {
  margin: 5px 0;
}
.festivo {
  color: red;
}
.next,
.prev,
h1 {
  display: inline-block;
  margin: 5px 10px;
}
